*{
  box-sizing: border-box;
}

html, body{
  margin:  0px;
  padding:0;
  --textSearchAreaHeight: 50px;
  --forecastHeaderHeight: 50px;
}

div.Title {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.Title p {
  margin: 0;
  font-size: 55px;
  font-family: "Bookman Old Style", serif;
  line-height: 45px;
  font-weight: bold;
  color: black;
  padding: 20px 0;

}



.grid-container {
  height:100vh;
  display: grid;
  grid-template-areas: 
                        ". . . . ."
                      ". header header header ."
                       ". . . . ."
                       ". content . sidebar ."
                       ". . . . .";
  grid-template-columns:  10px 1fr 5px 30% 10px;
  grid-template-rows: 10px 90px 5px 1fr 10px;
}
.header { 
  grid-area: header; 
}
.sidebar { 
  grid-area: sidebar; 
}
.content { 
  grid-area: content; 
}

.searchArea , .mapArea{  
  height: calc(100% - var(--textSearchAreaHeight));
   background-color: #f18383; 
}

.textSearchArea {  
  height: var(--textSearchAreaHeight);
}


#forecastCountry { 

  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  font-family: "Bookman Old Style", serif;
}


.weatherInfo {  
  background-color: var(--weatherInfoBackground);
  border-radius: 25px;
}

sup {
  vertical-align: super;
  font-size: x-small;
}

.flex-item {
  text-align:center;
  color: white;
  flex-grow:1;
}







